@tailwind base;
@tailwind components;
@tailwind utilities;

@property --shimmer-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes shimmer {
  0% {
    --shimmer-angle: 0deg;
  }

  100% {
    --shimmer-angle: 360deg;
  }
}

@keyframes swing {
  0%, 100% {
    transform: translateX(-6px);
  }
  50% {
    transform: translateX(6px);
  }
}

.shimmer-bg {
  --shimmer-angle: 0deg;
  background: conic-gradient(from var(--shimmer-angle), theme(colors.main-blue) 0%, theme(colors.main-purple) 10%, theme(colors.main-blue) 20%);
  animation: shimmer 2.5s linear infinite;
}


/** 磨砂背景 */
.bg {
  position: relative;
  z-index: 0;
}

.bg::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  z-index: -1;
  opacity: .05;
  pointer-events: none;
  background-image: url(../images/noise.png);
  background-repeat: repeat;
  background-position: 0 0;
  background-size: 200px auto;
}

/* Total scrollbar width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Background of the scrollbar except the button or thumb */
::-webkit-scrollbar-track {
  background: #0d0821;
  border-radius: 10px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #66666660;
  border-radius: 10px;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
